name: text2png

# Controls when the action will run. Triggers the workflow on push
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Convert text files to pictures
    - name: Run a multi-line script
      run: |
        convert -background white -size 800x -fill black -font Noto-Mono -pointsize 18 caption:"$(cat txt/123.txt)" imgs/123-txt.png
        convert -background white -size 800x -fill black -font Noto-Mono -pointsize 18 caption:"$(cat docs/shared.md)" imgs/67-md.png

    # Push them back to repository
    - name: Run a multi-line script
      run: |
        git config --global user.name ${GITHUB_ACTOR}
        git config --global user.email ${GITHUB_ACTOR}@users.noreply.github.com
        git add -A
        timestamp=$(date -u date +%F\ %T)
        git commit -m "Automated conversion of changes in ${GITHUB_SHA} to images. UTC - ${timestamp}"
        git push -u origin HEAD
